@{
  Layout = "_Layout";
}

@using ToDoList.ViewModels

@model LoginViewModel

<h2>Log in with your account</h2>
<hr />

@if(!ViewData.ModelState.IsValid) //check to see if the model is valid
{
  @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:")  //display a list under here of what is wrong
}

@using (Html.BeginForm())
{
  @Html.LabelFor(m => m.Email) //form for taking in email and password
  @Html.TextBoxFor(m => m.Email)

  @Html.LabelFor(m => m.Password)
  @Html.EditorFor(m => m.Password)

  <input type="submit" value="Log in" />
}

<p>@Html.ActionLink("Register for an account", "Register")</p>
<p>@Html.ActionLink("Back to accounts page", "Index")</p>
